In [143]:
# !pip uninstall google-api-core
# !pip install google-cloud-bigquery
# !pip install google-cloud-storage
from google.cloud import bigquery
# from google.cloud import storage
# !pip install pandas-gbq -U

In [5]:
import email
import getpass,imaplib
import os
import sys
import numpy as np
import pandas as pd
import json
import pandas.io.gbq as gbq
from google.cloud import bigquery

In [6]:
detach_dir = '.'

In [7]:
if 'attachments' not in os.listdir(detach_dir):
    os.mkdir('attachments')

In [144]:
userName = 'codebalanceit@gmail.com'
password = 'Hari@coding'

In [11]:
imapSession = imaplib.IMAP4_SSL('imap.gmail.com')
typ, accountDetails = imapSession.login(userName, password)

imapSession.select()
typ, data = imapSession.search(None, '(FROM "Sreehari Nambiar") UNSEEN')

# iterate over all emails
for msgId in data[0].split():
    typ, messageParts = imapSession.fetch(msgId, '(RFC822)')
    # print(emailBody)
    emailBody = messageParts[0][1]
    mail = email.message_from_bytes(emailBody)
    for part in mail.walk():
        if part.get_content_maintype() == 'multipart':
            # print part.as_string()
            continue
        if part.get('Content-Disposition') is None:
            # print part.as_string()
            continue
        fileName = part.get_filename()
        #print(fileName)
        
            
        if bool(fileName):
            filePath = os.path.join(detach_dir, 'attachments', fileName)
            if not os.path.isfile(filePath):
                #print(filePath) 
                fp = open(filePath, 'wb')
                fp.write(part.get_payload(decode=True))
                fp.close()
    imapSession.store(msgId, '+FLAGS', '\Seen')
            
imapSession.close()
imapSession.logout()

## update control table

('BYE', [b'LOGOUT Requested'])

In [145]:
fileName

'Sales and Inventory Report - 2018 FW06 - KOCO LIFE (49509).xlsx'

In [24]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/anjalikrishna/Desktop/python-google/sarasmaster-a88d695c46b1.json"

In [9]:
# Import the Google Cloud client Library
from google.cloud import storage
from google.cloud.exceptions import NotFound

In [32]:
def upload_blob(bucket_name, source_file_name, destination_blob_name):
    from google.cloud import storage
    # upload a file to bucket
    # Initiate a client
    storage_client = storage.Client()
    bucket = storage_client.get_bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)
    
    blob.upload_from_filename(source_file_name)
    
    print('File {} uploaded to {}.'.format(source_file_name,
        destination_blob_name))

In [33]:
upload_blob('sarasmaster', fileName, 'kopari/retail/ulta/ulta_sales_1.xls')

File Sales and Inventory Report - 2018 FW06 - KOCO LIFE (49509).xlsx uploaded to kopari/retail/ulta/ulta_sales_1.xls.

In [14]:
import pandas as pd
import json
import pandas.io.gbq as gbq
from google.cloud import bigquery
# desired_cols = [1] + list(range(19,43))
result = pd.read_excel(fileName, sheetname=0)
df_result = pd.DataFrame(result)
df_result.head(10)

                                                                         Weekly Sales and Inventory Report  \
NaN NaN                                                NaN            Last Closed Week Sales and Inventory
                                                       NaN          Fiscal Week 6: 03/11/2018 - 03/17/2018
                                                       NaN                                             NaN
                                                       NaN                                             NaN
    KOCO LIFE (49509)                                  NaN                                             NaN
     Please Note:  Inventory values are from a snap... NaN                                             NaN
    Vendor #                                           Vendor Name                             Item Number
    NaN                                                NaN                                             NaN
    49509                                              KOCO LIFE                                   2523646
                                                       KOCO LIFE                                   2523647

                                                                                             Unnamed: 1  \
NaN NaN                                                NaN                                          NaN
                                                       NaN                                          NaN
                                                       NaN                                          NaN
                                                       NaN                                          NaN
    KOCO LIFE (49509)                                  NaN                                          NaN
     Please Note:  Inventory values are from a snap... NaN                                          NaN
    Vendor #                                           Vendor Name                     Item Description
    NaN                                                NaN                                          NaN
    49509                                              KOCO LIFE      KOPARI  COCONUT ROSE TONER 5.10OZ
                                                       KOCO LIFE    KOPARI COCONUT MULTITASKING KIT.COM

                                                                   Unnamed: 2  \
NaN NaN                                                NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
    KOCO LIFE (49509)                                  NaN                NaN
     Please Note:  Inventory values are from a snap... NaN                NaN
    Vendor #                                           Vendor Name        Div
    NaN                                                NaN                NaN
    49509                                              KOCO LIFE            1
                                                       KOCO LIFE            1

                                                                   Unnamed: 3  \
NaN NaN                                                NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
    KOCO LIFE (49509)                                  NaN                NaN
     Please Note:  Inventory values are from a snap... NaN                NaN
    Vendor #                                           Vendor Name       Dept
    NaN                                                NaN                NaN
    49509                                              KOCO LIFE           14
                                                       KOCO LIFE           14

                                                                   Unnamed: 4  \
NaN NaN                                                NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
    KOCO LIFE (49509)                                  NaN                NaN
     Please Note:  Inventory values are from a snap... NaN                NaN
    Vendor #                                           Vendor Name      Class
    NaN                                                NaN                NaN
    49509                                              KOCO LIFE          115
                                                       KOCO LIFE          116

                                                                   Unnamed: 5  \
NaN NaN                                                NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
                                                       NaN                NaN
    KOCO LIFE (49509)                                  NaN                NaN
     Please Note:  Inventory values are from a snap... NaN                NaN
    Vendor #                                           Vendor Name  Sub Class
    NaN                                                NaN                NaN
    49509                                              KOCO LIFE         2168
                                                       KOCO LIFE         1172

                                                                    Unnamed: 6  \
NaN NaN                                                NaN                 NaN
                                                       NaN                 NaN
                                                       NaN                 NaN
                                                       NaN                 NaN
    KOCO LIFE (49509)                                  NaN                 NaN
     Please Note:  Inventory values are from a snap... NaN                 NaN
    Vendor #                                           Vendor Name  Item\nRank
    NaN                                                NaN                 NaN
    49509                                              KOCO LIFE             F
                                                       KOCO LIFE             #

                                                                               Unnamed: 7  \
NaN NaN                                                NaN                            NaN
                                                       NaN                            NaN
                                                       NaN                            NaN
                                                       NaN                            NaN
    KOCO LIFE (49509)                                  NaN                            NaN
     Please Note:  Inventory values are from a snap... NaN                            NaN
    Vendor #                                           Vendor Name  Store\nCount\n(Total)
    NaN                                                NaN                            NaN
    49509                                              KOCO LIFE                     1096
                                                       KOCO LIFE                      NaN

                                                                      Unnamed: 8  \
NaN NaN                                                NaN                   NaN
                                                       NaN                   NaN
                                                       NaN                   NaN
                                                       NaN                   NaN
    KOCO LIFE (49509)                                  NaN                   NaN
     Please Note:  Inventory values are from a snap... NaN                   NaN
    Vendor #                                           Vendor Name           UPC
    NaN                                                NaN                   NaN
    49509                                              KOCO LIFE    851989006084
                                                       KOCO LIFE    851989006282

                                                                         Unnamed: 9  \
NaN NaN                                                NaN                      NaN
                                                       NaN                      NaN
                                                       NaN                      NaN
                                                       NaN                      NaN
    KOCO LIFE (49509)                                  NaN                      NaN
     Please Note:  Inventory values are from a snap... NaN                      NaN
    Vendor #                                           Vendor Name  Vendor Part No.
    NaN                                                NaN                      NaN
    49509                                              KOCO LIFE           KRT-0150
                                                       KOCO LIFE           KMK-0200

                                                                          ...          \
NaN NaN                                                NaN                ...
                                                       NaN                ...
                                                       NaN                ...
                                                       NaN                ...
    KOCO LIFE (49509)                                  NaN                ...
     Please Note:  Inventory values are from a snap... NaN                ...
    Vendor #                                           Vendor Name        ...
    NaN                                                NaN                ...
    49509                                              KOCO LIFE          ...
                                                       KOCO LIFE          ...

                                                                            Unnamed: 61  \
NaN NaN                                                NaN                          NaN
                                                       NaN                          NaN
                                                       NaN                          NaN
                                                       NaN                          NaN
    KOCO LIFE (49509)                                  NaN                          NaN
     Please Note:  Inventory values are from a snap... NaN                          NaN
    Vendor #                                           Vendor Name  STORE\nEOH (LY)\n$$
    NaN                                                NaN                          NaN
    49509                                              KOCO LIFE                    NaN
                                                       KOCO LIFE                    NaN

                                                                             Unnamed: 62  \
NaN NaN                                                NaN                           NaN
                                                       NaN                           NaN
                                                       NaN                           NaN
                                                       NaN                           NaN
    KOCO LIFE (49509)                                  NaN                           NaN
     Please Note:  Inventory values are from a snap... NaN                           NaN
    Vendor #                                           Vendor Name  STORE\nEOH $$ Chg\n%
    NaN                                                NaN                           NaN
    49509                                              KOCO LIFE                     NaN
                                                       KOCO LIFE                     NaN

                                                                               Unnamed: 63  \
NaN NaN                                                NaN                             NaN
                                                       NaN                             NaN
                                                       NaN                             NaN
                                                       NaN                             NaN
    KOCO LIFE (49509)                                  NaN                             NaN
     Please Note:  Inventory values are from a snap... NaN                             NaN
    Vendor #                                           Vendor Name  STORE\nEOH Comp\nUnits
    NaN                                                NaN                           18959
    49509                                              KOCO LIFE                      2074
                                                       KOCO LIFE                         1

                                                                                   Unnamed: 64  \
NaN NaN                                                NaN                                 NaN
                                                       NaN                                 NaN
                                                       NaN                                 NaN
                                                       NaN                                 NaN
    KOCO LIFE (49509)                                  NaN                                 NaN
     Please Note:  Inventory values are from a snap... NaN                                 NaN
    Vendor #                                           Vendor Name  STORE\nEOH Non-Comp\nUnits
    NaN                                                NaN                                2058
    49509                                              KOCO LIFE                           266
                                                       KOCO LIFE                             1

                                                                               Unnamed: 65  \
NaN NaN                                                NaN                             NaN
                                                       NaN                             NaN
                                                       NaN                             NaN
                                                       NaN                             NaN
    KOCO LIFE (49509)                                  NaN                             NaN
     Please Note:  Inventory values are from a snap... NaN                             NaN
    Vendor #                                           Vendor Name  STORE\nOn Order\nUnits
    NaN                                                NaN                            1784
    49509                                              KOCO LIFE                        43
                                                       KOCO LIFE                         0

                                                                                 Unnamed: 66  \
NaN NaN                                                NaN                               NaN
                                                       NaN                               NaN
                                                       NaN                               NaN
                                                       NaN                               NaN
    KOCO LIFE (49509)                                  NaN                               NaN
     Please Note:  Inventory values are from a snap... NaN                               NaN
    Vendor #                                           Vendor Name  STORE\nIn Transit\nUnits
    NaN                                                NaN                               501
    49509                                              KOCO LIFE                          30
                                                       KOCO LIFE                           0

                                                                                               Unnamed: 67  \
NaN NaN                                                NaN                                             NaN
                                                       NaN                                             NaN
                                                       NaN                                             NaN
                                                       NaN                                             NaN
    KOCO LIFE (49509)                                  NaN                                             NaN
     Please Note:  Inventory values are from a snap... NaN                                             NaN
    Vendor #                                           Vendor Name  STORE\nAvg Sales \n(Last 5 Wks)\nUnits
    NaN                                                NaN                                         753.717
    49509                                              KOCO LIFE                                     124.8
                                                       KOCO LIFE                                     13.75

                                                                         Unnamed: 68  \
NaN NaN                                                NaN                       NaN
                                                       NaN                       NaN
                                                       NaN                       NaN
                                                       NaN                       NaN
    KOCO LIFE (49509)                                  NaN                       NaN
     Please Note:  Inventory values are from a snap... NaN                       NaN
    Vendor #                                           Vendor Name  STORE\nComp\nWOS
    NaN                                                NaN                   26.0922
    49509                                              KOCO LIFE             17.4874
                                                       KOCO LIFE           0.0714286

                                                                              Unnamed: 69  \
NaN NaN                                                NaN                            NaN
                                                       NaN                            NaN
                                                       NaN                            NaN
                                                       NaN                            NaN
    KOCO LIFE (49509)                                  NaN                            NaN
     Please Note:  Inventory values are from a snap... NaN                            NaN
    Vendor #                                           Vendor Name  STORE\nNon-Comp \nWOS
    NaN                                                NaN                        92.9516
    49509                                              KOCO LIFE                  29.9032
                                                       KOCO LIFE                       -1

                                                                          Unnamed: 70
NaN NaN                                                NaN                        NaN
                                                       NaN                        NaN
                                                       NaN                        NaN
                                                       NaN                        NaN

In [82]:
date_range = df_result['Weekly Sales and Inventory Report'][1]
week_no = int(date_range[12])
date_from = date_range[15:25].replace('/','')
date_to = date_range[29:].replace('/','')
quarter = str('Q'+ str((int(date_to[0:-6])+2)//3))
type(quarter)

str

In [16]:

desired_cols = [12,4, 15,16,19,22,25,28,31,34,37,40]
result1 = pd.read_excel("Sales and Inventory Report - 2018 FW06 - KOCO LIFE (49509).xlsx", sheetname=0, skiprows=(7),usecols = desired_cols)
df_result1 = pd.DataFrame(result1)
df_result1.columns = ['item_description','sku_number', 'purchase_cost', 'retail_price', 'total_sales_units', 'total_sales','comp_sales_units', 'comp_sales', 'non_comp_sales_units', 'non_comp_sales', 'dot_com_sales_units', 'dot_com_sales']

In [161]:
df_result2 = df_result1.iloc[1:]
df_result2 = df_result2.fillna(0)
df_result2

,item_description,sku_number,purchase_cost,retail_price,total_sales_units,total_sales,comp_sales_units,comp_sales,non_comp_sales_units,non_comp_sales,dot_com_sales_units,dot_com_sales
1,KOPARI COCONUT ROSE TONER 5.10OZ,KRT-0150,11.52,24.00,278,6197.80,262,5826.14,16.0,371.66,63.0,1420.11
2,KOPARI COCONUT MULTITASKING KIT.COM,KMK-0200,19.20,40.00,5,187.89,5,187.89,0.0,0.00,7.0,266.43
3,KOPARI COCONUT FACE CREAM 2.5OZ,KFC-0075,18.24,38.00,191,6902.01,179,6487.65,12.0,414.36,33.0,1165.44
4,KOPARI COCONUT BODY GLOW 3.4OZ.COM,KBG-0100,20.16,42.00,17,640.83,17,640.83,0.0,0.00,17.0,640.83
5,KOPARI COCONUT KISS KIT,KLK-0100,14.40,30.00,21,550.16,21,550.16,0.0,0.00,21.0,550.16
6,KOPARI COCONUT LIP GLOSSY .35OZ.COM,KLG-0010,5.76,12.00,4,46.11,5,58.11,-1.0,-12.00,6.0,70.11
7,KOPARI COCONUT CLEANSING OIL 5.1OZ,KCO-0150,15.36,32.00,201,6037.21,191,5727.78,10.0,309.43,50.0,1448.49
8,KOPARI COCONUT MELT 5.1OZ,KCM-0150,13.44,28.00,455,11603.17,417,10638.63,38.0,964.54,86.0,2136.18
9,KOPARI COCONUT MINI MELT 2.5OZ.COM,KCM-0075,8.64,18.00,25,413.76,25,413.76,0.0,0.00,25.0,413.76
10,KOPARI COCONUT CRUSH SCRUB 10OZ.COM,KCS-0300,18.24,38.00,11,376.38,11,376.38,0.0,0.00,11.0,376.38
11,KOPARI SAVE FACE OIL 1.7OZ,KSF-0050,21.12,44.00,25,979.14,25,979.14,0.0,0.00,16.0,639.91
12,KOPARI MINI ROSE TONER 2OZ GWP,KRT-0060,0.01,0.01,37,0.26,37,0.26,0.0,0.00,0.0,0.00
13,KOPARI FACE THE DAY AND NIGHT KIT.COM,KFK-0100,19.20,40.00,32,1065.65,32,1065.65,0.0,0.00,32.0,1065.65

In [162]:
df_result2[['non_comp_sales_units']] = df_result2[['non_comp_sales_units']].astype('int')
df_result2['dot_com_sales_units'] = df_result2.dot_com_sales_units.astype(np.int64)
df_result2.dtypes

item_description         object
sku_number               object
purchase_cost           float64
retail_price            float64
total_sales_units         int64
total_sales             float64
comp_sales_units          int64
comp_sales              float64
non_comp_sales_units      int64
non_comp_sales          float64
dot_com_sales_units       int64
dot_com_sales           float64
dtype: object

In [163]:
from datetime import datetime

for index, row in df_result2.iterrows():
    df_result2['load_id'] = '00001'
    df_result2['year'] = int(date_to[-4:])
    df_result2['qtr'] = quarter
    df_result2['week'] = week_no
    df_result2['curr_code'] = 'USD'
    df_result2['creation_date'] = datetime.now()
    df_result2['update_date'] = datetime.now()
    
    
#     print(df_result2['creation_date'])
df_result2

,item_description,sku_number,purchase_cost,retail_price,total_sales_units,total_sales,comp_sales_units,comp_sales,non_comp_sales_units,non_comp_sales,dot_com_sales_units,dot_com_sales,load_id,year,qtr,week,curr_code,creation_date,update_date
1,KOPARI COCONUT ROSE TONER 5.10OZ,KRT-0150,11.52,24.00,278,6197.80,262,5826.14,16,371.66,63,1420.11,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
2,KOPARI COCONUT MULTITASKING KIT.COM,KMK-0200,19.20,40.00,5,187.89,5,187.89,0,0.00,7,266.43,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
3,KOPARI COCONUT FACE CREAM 2.5OZ,KFC-0075,18.24,38.00,191,6902.01,179,6487.65,12,414.36,33,1165.44,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
4,KOPARI COCONUT BODY GLOW 3.4OZ.COM,KBG-0100,20.16,42.00,17,640.83,17,640.83,0,0.00,17,640.83,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
5,KOPARI COCONUT KISS KIT,KLK-0100,14.40,30.00,21,550.16,21,550.16,0,0.00,21,550.16,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
6,KOPARI COCONUT LIP GLOSSY .35OZ.COM,KLG-0010,5.76,12.00,4,46.11,5,58.11,-1,-12.00,6,70.11,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
7,KOPARI COCONUT CLEANSING OIL 5.1OZ,KCO-0150,15.36,32.00,201,6037.21,191,5727.78,10,309.43,50,1448.49,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
8,KOPARI COCONUT MELT 5.1OZ,KCM-0150,13.44,28.00,455,11603.17,417,10638.63,38,964.54,86,2136.18,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
9,KOPARI COCONUT MINI MELT 2.5OZ.COM,KCM-0075,8.64,18.00,25,413.76,25,413.76,0,0.00,25,413.76,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
10,KOPARI COCONUT CRUSH SCRUB 10OZ.COM,KCS-0300,18.24,38.00,11,376.38,11,376.38,0,0.00,11,376.38,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
11,KOPARI SAVE FACE OIL 1.7OZ,KSF-0050,21.12,44.00,25,979.14,25,979.14,0,0.00,16,639.91,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
12,KOPARI MINI ROSE TONER 2OZ GWP,KRT-0060,0.01,0.01,37,0.26,37,0.26,0,0.00,0,0.00,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256
13,KOPARI FACE THE DAY AND NIGHT KIT.COM,KFK-0100,19.20,40.00,32,1065.65,32,1065.65,0,0.00,32,1065.65,00001,2018,Q1,6,USD,2018-04-29 12:40:47.875071,2018-04-29 12:40:47.875256

In [164]:
df_result2 = df_result2[["load_id","year", "qtr", "week", "sku_number", "item_description","curr_code","purchase_cost", "retail_price", "total_sales_units",
            "total_sales", "comp_sales_units", "comp_sales", "non_comp_sales_units", "non_comp_sales", "dot_com_sales_units",
            "dot_com_sales","creation_date", "update_date"]]

In [165]:
df_result2.dtypes

load_id                         object
year                             int64
qtr                             object
week                             int64
sku_number                      object
item_description                object
curr_code                       object
purchase_cost                  float64
retail_price                   float64
total_sales_units                int64
total_sales                    float64
comp_sales_units                 int64
comp_sales                     float64
non_comp_sales_units             int64
non_comp_sales                 float64
dot_com_sales_units              int64
dot_com_sales                  float64
creation_date           datetime64[ns]
update_date             datetime64[ns]
dtype: object

In [166]:
destination_table = 'kopari.ulta_sales_dev'
project_id = 'sarasmaster-201918'

df_result2.to_gbq(destination_table, project_id, chunksize=10000, verbose=True, reauth=False, if_exists='append', private_key=None)

In [57]:
jsonFileName = 'Kopari1_'+date_from+'_to_'+date_to+'.json'
df_result2.to_json(path_or_buf='/Users/anjalikrishna/Desktop/python-google/'+jsonFileName, orient='records')
jsonFileName

'Kopari1_03112018_to_3172018.json'

In [58]:
upload_blob('sarasmaster', '/Users/anjalikrishna/Desktop/python-google/'+jsonFileName, 'Kopari1_03112018_to_3172018.json')
# data1 = df_result2.to_dict('records')
# data1

File /Users/anjalikrishna/Desktop/python-google/Kopari1_03112018_to_3172018.json uploaded to Kopari1_03112018_to_3172018.json.

In [59]:
bq_client = bigquery.Client()
projectId = 'sarasmaster-201918'
dataset_id = 'kopari'
table_id = 'ulta_sales_copy'

dataset_ref = bq_client.dataset(dataset_id)
table_ref = dataset_ref.table(table_id)

table = bq_client.get_table(table_ref)  # API Request
# table_ref
uri = 'gs://sarasmaster/Kopari1_03112018_to_3172018.json'

In [39]:
previous_rows = bq_client.get_table(table_ref).num_rows
job_config = bigquery.LoadJobConfig()
job_config.source_format = bigquery.SourceFormat.NEWLINE_DELIMITED_JSON
job_config.write_disposition = bigquery.WriteDisposition.WRITE_APPEND

load_job = bq_client.load_table_from_uri(
    uri,
    table_ref,
    job_config=job_config)  # API request

assert load_job.job_type == 'load'

load_job.result()  # Waits for table load to complete.

assert load_job.state == 'DONE'

BadRequest: 400 Error while reading data, error message: JSON table encountered too many errors, giving up. Rows: 1; errors: 1. Please look into the error stream for more details.

In [ ]:
json_rows = []
for row in df_result2.iterrows():
    data = df_result2.iloc[index-1]
#     data = df_result2.iloc[index-1].to_json(orient="records",lines=True)
#     json_rows  df_result2.iloc[0].to_json(orient="records")
#     print(data)
#     errors = bq_client.insert_rows(table, json_data)
# print(json_rows)

In [ ]:
# errors = bq_client.insert_rows(table, data1)  # API request
errors = bq_client.insert_rows_json(table, data1)

assert errors == []
errors

In [ ]:
# client = bigquery.Client()
# table_ref = client.dataset('my_dataset').table('existing_table')previous_rows = client.get_table(table_ref).num_rows

#job_config.source_format = bigquery.SourceFormat.NEWLINE_DELIMITED_JSON
#job_config.write_disposition = bigquery.WriteDisposition.WRITE_APPEND

with open("bigquery.SourceFormat", mode='r') as f:
    f.read()