In [1]:
import requests
import json
import math
import time
import os
import uuid
import platform
import logging
import subprocess
from subprocess import Popen, PIPE
import pandas as pd
from dateutil.relativedelta import relativedelta
from math import ceil
import datetime
from datetime import timedelta
from dateutil import tz
import dateutil.parser as dp
import pandas.io.gbq as gbq
from google.cloud import bigquery
from google.cloud import storage

In [2]:
app_path = os.getcwd()
gspath = 'gs://sarasmaster'
os.chdir(os.getcwd())
filesep = '\\' if platform.system() == 'Windows' else '/'
gssep = '/'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "creds" + filesep + "sarasmaster-524142bf5547.json"
gcspath = 'C:\\Users\\kabhi\\AppData\\Local\\Google\\Cloud SDK\\google-cloud-sdk\\bin'
os.environ["PATH"] += os.pathsep + gcspath
batfile = app_path + filesep + 'movetogcs.bat' if platform.system() == 'Windows' else app_path + filesep + 'movetogcs.sh'
delimitertype = 'CSV'
loadtype = 'WRITE_APPEND'
skipheader = 1

In [3]:
def week_of_month(dt):
    first_day = dt.replace(day=1)
    dom = dt.day
    adjusted_dom = dom + first_day.weekday()
    return int(ceil(adjusted_dom/7.0))

In [4]:
def loadlocalfiletogooglestorage(batfile, source_file_name, dest_file_name):
    pass_arg=[]
    pass_arg.append(batfile)
    pass_arg.append(source_file_name)
    pass_arg.append(dest_file_name)
    p = Popen(pass_arg, stdout=PIPE, stderr=PIPE)
    output, errors = p.communicate()
    p.wait() # wait for process to terminate
    print(output)
    print(errors)

In [5]:
def loadfiletobigquery(file_name, dataset_id, table_name, delimitertype, loadtype, skipheader):
    client = bigquery.Client()
    table_ref = client.dataset(dataset_id).table(table_name)
    job_config = bigquery.LoadJobConfig()
    if skipheader is not None:
        job_config.skip_leading_rows = skipheader
    job_config.source_format = delimitertype
    #if delimitertype == bigquery.SourceFormat.CSV:
        #job_config.autodetect = True
    job_config.write_disposition = loadtype

    load_job = client.load_table_from_uri(
        file_name,
        table_ref,
        job_config=job_config)  # API request

    assert load_job.job_type == 'load'

    load_job.result()  # Waits for table load to complete.

    assert load_job.state == 'DONE'

In [6]:
def addcolumnames(dfdata):
    dfdata.columns = ['dummy','region','store','net_sales','net_sales_ly','net_sales_chg_per_ly_ty','net_sales_ytd','net_sales_ytd_ly']
    return dfdata

In [7]:
def adjustcustomdata(dfdata, dfheaders):
    end_date = dfheaders.iloc[6][3]
    start_date = end_date + datetime.timedelta(days=-6)
    no_week = week_of_month(end_date)
    quarter = pd.Timestamp(start_date).quarter
    year = pd.Timestamp(start_date).year
    load_id = uuid.uuid4()
    dfdata['load_id'] = load_id
    dfdata['start_date'] = start_date
    dfdata['end_date'] = end_date
    dfdata['year'] = year
    dfdata['qtr'] = quarter
    dfdata['week'] = no_week
    return dfdata

In [9]:
def readfiles(filename):
    df = pd.read_excel(filename, sheet_name=0,header=None)
    dfdata = df[8:]
    dfdata = dfdata[:-1]
    dfdata = dfdata.reset_index(drop=True)
    dfheaders = df[:8]
    end_date = dfheaders.iloc[6][3]
    start_date = end_date + datetime.timedelta(days=-6)
    dfdata = addcolumnames(dfdata)
    dfdata = adjustcustomdata(dfdata, dfheaders)
    dfdata = dfdata.drop('dummy', axis=1)
    localfilename = app_path + filesep + 'kopari' + filesep + 'sephora' + filesep + 'regions' + filesep + 'inbox' + filesep + 'sephora_region_sales_'
    gsfilepath = gspath + gssep + 'kopari' + gssep + 'sephora' + gssep + 'regions' + gssep + 'inbox'
    localfilename = localfilename + start_date.strftime('%Y%m%d') + '_' + end_date.strftime('%Y%m%d') + '.csv'
    dfdata.to_csv(localfilename, index=False)
    loadlocalfiletogooglestorage(batfile, localfilename, gsfilepath)

In [20]:
rootdir = app_path + filesep + 'kopari' + filesep + 'sephora'+ filesep + 'regions' + filesep + 'inbox'
dfdata = pd.DataFrame()
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        filepath = subdir + os.sep + file
        if filepath.endswith(".xls") or filepath.endswith(".xlsx"):
            readfiles(filepath)

b'\r\n(datamaster) C:\\Users\\kabhi\\Desktop\\smd>gsutil cp C:\\Users\\kabhi\\Desktop\\smd\\kopari\\sephora\\sephora_region_sales_20180408_20180414.csv gs://sarasmaster/kopari/sephora \r\n'
b'Copying file://C:\\Users\\kabhi\\Desktop\\smd\\kopari\\sephora\\sephora_region_sales_20180408_20180414.csv [Content-Type=application/vnd.ms-excel]...\r\n/ [0 files][    0.0 B/ 55.3 KiB]                                                \r/ [1 files][ 55.3 KiB/ 55.3 KiB]                                                \r\r\nOperation completed over 1 objects/55.3 KiB.                                     \r\n'

In [44]:
dfdata.head()

,new_flag,rank_wk,rank_ytd,class_name,sku_number,item_description,st,retail,net_sales_avg_we,net_sales_we,...,on_order_current,on_order_current_m1,on_order_current_m2,on_order_current_m3,on_order_current_m4,wos_current,wos_m1,wos_m2,wos_m3,wos_m4
0,NaN,1,1,170,1891746,KOP COCONUT MELT,A,38,15830.1,12474.5,...,1192,0,0,0,0,3.64526,0,0,0,0
1,NaN,1,1,170,1891746,KOP COCONUT MELT,A,38,8544.88,6276.59,...,890,0,0,0,0,5.42683,0,0,0,0
2,NaN,1,1,170,1891746,KOP COCONUT MELT,A,38,1848.27,1254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,1,170,1891746,KOP COCONUT MELT,A,38,5436.98,4943.86,...,302,0,0,0,0,2.32308,0,0,0,0
4,NaN,2,2,170,1935519,KOP COCONUT MELT BOTF,A,18,10605.1,8433.7,...,2844,0,0,0,0,6.03822,0,0,0,0

In [45]:
dfheaders.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,New,Rank WK,Rank YTD,Class,SKU,SKU Desc,ST,Retail,Net Sls $ Avg WK,Net Sls $ WE,...,On Order Current,On Order Mo+1,On Order Mo+2,On Order Mo+3,On Order Mo+4,WOS Current,WOS Mo+1,WOS Mo+2,WOS Mo+3,WOS Mo+4
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-01-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
end_date = dfheaders.iloc[1][9]
start_date = dfheaders.iloc[1][9] + datetime.timedelta(days=-6)
print(start_date)
print(end_date)

2017-01-15 00:00:00
2017-01-21 00:00:00

In [33]:
dfdata.head()

,new_flag,rank_wk,rank_ytd,class_name,sku_number,item_description,st,retail,net_sales_avg_we,net_sales_we,...,wos_m2,wos_m3,wos_m4,load_id,start_date,end_date,year,qtr,week,currency_code
0,NaN,1,1,160,1891746,KOP COCONUT MELT,A,38,10626.2,6521.27,...,0,0,0,f1ea4039-ca28-40ea-93f6-eeb75763d70b,2017-01-15,2017-01-21,2017,1,4,USD
1,NaN,1,1,160,1891746,KOP COCONUT MELT,A,38,7703.13,4881.62,...,0,0,0,f1ea4039-ca28-40ea-93f6-eeb75763d70b,2017-01-15,2017-01-21,2017,1,4,USD
2,NaN,1,1,160,1891746,KOP COCONUT MELT,A,38,2923.06,1639.65,...,0,0,0,f1ea4039-ca28-40ea-93f6-eeb75763d70b,2017-01-15,2017-01-21,2017,1,4,USD
3,NaN,2,2,160,1891720,KOP COCONUT SHEER OIL,A,44,2054.99,1857.77,...,NaN,NaN,NaN,f1ea4039-ca28-40ea-93f6-eeb75763d70b,2017-01-15,2017-01-21,2017,1,4,USD
4,NaN,2,2,160,1891720,KOP COCONUT SHEER OIL,A,44,1492.95,1203.11,...,NaN,NaN,NaN,f1ea4039-ca28-40ea-93f6-eeb75763d70b,2017-01-15,2017-01-21,2017,1,4,USD

In [177]:
loadlocalfiletogooglestorage(batfile, localfilename, gsfilepath)

b'\r\n(datamaster) C:\\Users\\kabhi\\Desktop\\datamaster>gsutil cp C:\\Users\\kabhi\\Desktop\\datamaster\\kopari\\nordstrom\\nordstrom_sales_20180107_20180421.csv gs://sarasmaster/kopari/nordstrom \r\n'
b'Copying file://C:\\Users\\kabhi\\Desktop\\datamaster\\kopari\\nordstrom\\nordstrom_sales_20180107_20180421.csv [Content-Type=application/vnd.ms-excel]...\r\n/ [0 files][    0.0 B/152.8 KiB]                                                \r/ [1 files][152.8 KiB/152.8 KiB]                                                \r\r\nOperation completed over 1 objects/152.8 KiB.                                    \r\n'

In [178]:
gsfilename = gsfilepath + gssep + 'nordstrom_sales_' + start_date.strftime('%Y%m%d') + '_' + end_date.strftime('%Y%m%d') + '.csv'
loadfiletobigquery(gsfilename, 'kopari', 'nordstrom_sales', delimitertype, loadtype, skipheader)

BadRequest: 400 Error while reading data, error message: CSV table encountered too many errors, giving up. Rows: 1; errors: 1. Please look into the error stream for more details.

In [99]:
def getlastupdateddate(dataset_name, table_name):
    client = bigquery.Client()
    query = "select max(to_date) max_updated_dt,max(to_date) min_updated_dt from " + dataset_name + "." + table_name + ";"
    job_config = bigquery.QueryJobConfig()
    query_job = client.query(query, job_config=job_config)

    query_job.result()  # Wait for job to complete

    # Print the results.
    destination_table_ref = query_job.destination
    table = client.get_table(destination_table_ref)
    table_data = None
    for row in client.list_rows(table):
        table_data = row
    return table_data

In [106]:
def checkexceptions(dataset_name, table_name, column_name):
    lastshopdate = getlastupdateddate('kopari', 'locad_tracking').max_updated_dt
    noexceptions = True if dfdata[(dfdata[column_name] > lastshopdate)].shape[0] > 0 else False
    return noexceptions